.navbar{
    background-color:#1d1d1d ;
    height: 12.5vh;
    width: 100vw;
    position: sticky;

    display: flex;
    justify-content: center;
    align-items: center;

}

.Links{
    color: white;
    padding: 5%;
}